@model Dictionary<string, string>

@{
    ViewData["Title"] = "Contact Us";
}
<h1>Contact Us</h1>
<h1>Contact Us</h1>

<h4>Got Questions?</h4>
<h4>Here's how you can reach out to us!</h4>

<table class="table table-bordered table-striped">
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>
